spring:
  datasource:
    url: ${DEV_DB_URL:jdbc:h2:mem:devdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${DEV_DB_USERNAME:sa}
    password: ${DEV_DB_PASSWORD:}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:true}
      path: ${H2_CONSOLE_PATH:/h2-console}
